USE [LIBRARYDB]
GO
/****** Object:  StoredProcedure [dbo].[ENAKTIFUYE]    Script Date: 2.08.2022 15:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ENAKTIFUYE]
AS
BEGIN
SELECT TOP 1 (TBL_USER.NAME+' '+TBL_USER.SURNAME) FROM TBL_DEPOSIT
INNER JOIN TBL_USER ON TBL_USER.ID = TBL_DEPOSIT.USERID
GROUP BY TBL_USER.NAME,TBL_USER.SURNAME
ORDER BY COUNT(*) DESC;
END

EXECUTE ENAKTIFUYE