USE [LIBRARYDB]
GO
/****** Object:  StoredProcedure [dbo].[ENIYIYAYINEVI]    Script Date: 2.08.2022 15:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ENIYIYAYINEVI]
AS
BEGIN
SELECT TBL_PUBLISHER.NAME,COUNT(*) FROM TBL_BOOK
INNER JOIN TBL_PUBLISHER ON TBL_PUBLISHER.ID = TBL_BOOK.PUBLISHERID
GROUP BY TBL_PUBLISHER.NAME
ORDER BY COUNT(*) DESC;
END

EXECUTE ENIYIYAYINEVI